html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #141414;
}

.inicio h1 {
    color: red;
}

.inicio p {
    color: white;
}


.brand {
    color: red;
    font-weight: bold;
}

.nav-link:hover {
    color: red !important;
}

.buttonContenido:hover {
    color: white !important;
}

.privacy {
    color: white;
}

    .privacy h1 {
        font-weight: bold;
        margin: 2rem 0rem;
    }

    .privacy p {
        margin-bottom: 3rem;
    }

    .privacy a {
        color: red;
        text-decoration: none;
    }

        .privacy a:hover {
            text-decoration: underline;
        }

    .privacy li {
        margin: 0.5rem 0rem;
    }

.wrapper {
    border: 1px solid rgba(128, 128, 128, .4);
    border-top-color: #e50914;
    border-top-width: 4px;
    border-radius: 4px;
}

.info {
    padding: 1.5rem 1rem 1.5rem 1.5rem;
}

    .info h4 {
        font-weight: bold;
    }

.pricing-header {
    color: white;
}

    .pricing-header h1 {
        font-weight: bold;
    }

.iniciar-sesion {
    color: white;
    padding-bottom:30px;
}

.login-container {
    display: grid;
    grid-template-columns: 1fr;
    align-content:center;
    align-items: center;
    text-align:center;
}

#button-sesion {
    margin-top: 20px;
    text-decoration: none;
    color: red !important;
    font-weight: bold;
    font-size: 20px;
    background-color: #141414;
}
#input-label{

    color:white;
}

.label-password {
    padding-right: 20px;
}

.label-email{
    padding-right: 62px;
}

.email-container{
    padding-bottom: 30px;
}

#email, #password{
    border-radius: 14px;
    padding: 3px;
    font-weight: bold;
}