@{
    ViewData["Title"] = "ORTFlix";
}

<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <video autoplay muted loop id="myVideo">
      <source src="~/lib/assets/videoplayback (online-video-cutter.com).mp4" type="video/mp4">
    </video>
    <div class="px-3 text-center mt-5 inicio">
        <h1>La calidad del cine en tu casa</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
            <button type="button" class=" btn btn-lg btn-outline-danger"><a class="nav-link text-light buttonContenido" asp-area="" asp-controller="Contenidoes" asp-action="Index">Mira nuestro contenido</a></button>
        </p>
    </div>

</div>
