<div class="pricing">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Suscripciones</h1>
        <p class="fs-5 text-body-secondary">Elige el plan que mejor se adapte a ti y a tu entretenimiento. Disfruta de acceso ilimitado a miles de series, películas y documentales exclusivos. Todos nuestros planes incluyen contenido en alta calidad, sin interrupciones y la flexibilidad de cancelar cuando quieras. ¿Prefieres ver en solitario o compartir con tu familia y amigos? Tenemos opciones para todos. ¡Empieza a disfrutar hoy mismo!</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center d-flex justify-content-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Estandar</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$10<small class="text-body-secondary fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>3 usuarios incluidos</li>
                        <li>3 GB de almacenamiento</li>
                        <li>Soporte via email</li>
                        <li>Acceso al centro de ayuda</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-danger">Suscribirse</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Premium</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>6 usuarios incluidos</li>
                        <li>6 GB de almacenamiento</li>
                        <li>Soporte prioritario via email</li>
                        <li>Acceso al centro de ayuda</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-danger">Empeza ahora mismo!</button>
                </div>
            </div>
        </div>
    </div>
</div>
