<div class="container privacy">
    <div class="row">
        <h1 class="col-12">Página de ayuda de Privacidad y seguridad</h1>
        <div class="col-8">
            <div>
                <p>Esta página incluye vínculos a nuestros artículos de ayuda sobre preguntas de privacidad y seguridad. Nuestro objetivo es que la información sea fácil de encontrar; por lo tanto, es posible que a veces encuentres la misma información en más de un artículo. No olvides revisar nuestra Declaración de privacidad.</p>
                <ul>
                    <li>Puedes encontrar respuestas a las preguntas más frecuentes <a href="#">aquí</a>.</li>
                    <li><a href="#">Cómo ocultar títulos del historial de visualización</a></li>
                    <li><a href="#">Emails o mensajes sospechosos o de suplantación de identidad supuestamente de ORTFlix</a></li>
                    <li><a href="#">Cómo evitar que alguien use tu cuenta</a></li>
                    <li><a href="#">Cómo mantener segura tu cuenta</a></li>
                    <li><a href="#">Recibí el email "Debes restablecer tu contraseña"</a></li>
                    <li><a href="#">¿Cómo controlo qué emails recibo de ORTFlix?</a></li>
                    <li><a href="#">¿Cómo controlo qué mensajes de texto recibo de ORTFlix?</a></li>
                    <li><a href="#">Encuestas de clientes de ORTFlix</a></li>
                    <li><a href="#">Qué información personal guarda ORTFlix y cómo solicitar una copia</a></li>
                    <li><a href="#">Eliminación y retención de información</a></li>
                    <li><a href="#">Eliminar tu cuenta de ORTFlix</a></li>
                    <li><a href="#">¿Cómo elimino las formas de pago de mi cuenta?</a></li>
                    <li><a href="#">Cómo crear, cambiar o eliminar perfiles</a></li>
                    <li><a href="#">Visibilidad y actualización de tu información personal</a></li>
                    <li><a href="#">Cómo detener ciertos usos de tu información personal</a></li>
                    <li><a href="#">Cómo funciona el sistema de recomendaciones de ORTFlix</a></li>
                    <li><a href="#">¿Qué es el Reglamento General de Protección de Datos?</a></li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="wrapper">
                <div class="info">
                    <h4>Artículos relacionados</h4>
                    <ul>
                        <li><a href="#">Facturación y pagos</a></li>
                        <li><a href="#">Cómo descargar títulos para ver offline</a></li>
                        <li><a href="#">Cómo crear, cambiar o eliminar perfiles</a></li>
                        <li><a href="#">ORTFlix no funciona</a></li>
                        <li><a href="#">Cómo buscar y navegar en ORTFlix</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>